.gifRating {
    float:left;
    margin: 20px;
}

.gif {
    margin: 10px;
}

.gifRating {
    position: relative;
}

.jumbotron {
    background-image: url("../images/the-office2.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}

#fav-label {
    color: white;
    font-size: 2em;
}

@import url(https://fonts.googleapis.com/css?family=Khula:700);
.hidden {
  opacity:0;
}
.console-container {
  font-family:Khula;
  font-size:6em;
  text-align:center;
  height:100px;
  width:600px;
  display:block;
  color:white;
  margin:auto;
}
.console-underscore {
    display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}